body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#header-display {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 50px;
  padding-top: 50px;
}

#main-content-display {
  display: flex;
  margin: 200px 100px 0px 0px;
  justify-content: center;
}

#sensor-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  width: 200px;
}

#ultrasonic-chart {
  width: 900px;
  height: 500px;
}
