<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>ACTIVITY 2: SETTING-UP A DISTANCE SENSOR WITH WEBSITE</title>
  </head>
  <body>
    <div id="header-display">
      <a>Ultrasonic Sensor Reading</a>
    </div>

    <div id="main-content-display">
      <a id="time-text" class="sensor-display"></a>

      <div class="sensor-chart">
        <canvas id="sensor_chart1" class="ultrasonic-chart"></canvas>
        <canvas id="sensor_chart2" class="ultrasonic-chart"></canvas>
      </div>
      <div id="sensor-data">
        <a id="sensor-distance" class="sensor-display"> Distance: </a>
        <a id="proximity-txt" class="sensor-display"> LOREM IPSUM: yes </a>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
</html>
