<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>ACTIVITY 2: SETTING-UP A DISTANCE SENSOR WITH WEBSITE</title>
  </head>
  <body>
    <div id="header-display">
      <a>Ultrasonic Sensor Reading</a>
    </div>

    <section class="whole-page">
      <div id="main-display">
        <a id="time-text"></a>
        <div id="content-display">
          <div class="chart-container">
            <canvas id="sensor_chart1" class="ultrasonic-chart"></canvas>
            <canvas id="sensor_chart2" class="ultrasonic-chart" hidden></canvas>
          </div>

          <div class="info-container">
            <div id="sensor1-distance" class="sensor-display">
              <span class="label">Sensor 1</span>
              <span class="sub">Distance Reading</span>
              <span class="value">0 cm</span>
            </div>
            <div id="sensor2-distance" class="sensor-display">
              <span class="label">Sensor 2</span>
              <span class="sub">Distance Reading</span>
              <span class="value">0 cm</span>
            </div>
            <img
              src="/static/assets/notif_pic.png"
              alt="notifier-pic"
              id="buzzer-icon"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="Dht11chart">
      <div class="dht-display">
        <div class="chart-container">
          <canvas id="temp_chart" class="dht-chart"></canvas>
        </div>

        <div class="info-container">
          <div class="sensor-display temp-box">
            <!--   <span class="label">Temperature</span> -->
            <span class="sub">Current Reading</span>
            <span id="temperature-text" class="value">--°C</span>
          </div>
        </div>
      </div>

      <div class="dht-display">
        <div class="chart-container">
          <canvas id="humidity_chart" class="dht-chart"></canvas>
        </div>

        <div class="info-container">
          <div class="sensor-display humid-box">
            <!--  <span class="label">Humidity</span> -->
            <span class="sub">Current Reading</span>
            <span id="humidity-text" class="value">--%</span>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
</html>
